<section class="resume py-5 d-lg-flex justify-content-center align-items-center" id="resume">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-12">
        <h2 class="mb-4">Experience</h2>

        <div class="timeline">
          <div class="timeline-wrapper">
            <div class="timeline-yr">
              <span>2024-present</span>
            </div>
            <div class="timeline-info">
              <h3>
                <span>Frontend Developer</span><small>Soltech Infolabs</small>
              </h3>
              <ul class="custom-bullets">
                <li>
                  Developed web components using Angular, converting Figma
                  designs into fully functional web pages.
                </li>
                <li>
                  Collaborated with product and design teams to improve UI based
                  on user feedback.
                </li>
                <li>
                  Performed code reviews to uphold quality standards and ensure
                  best practices compliance.
                </li>
                <li>
                  Fixed bugs promptly, maintaining product performance and user
                  satisfaction.
                </li>
                <li>
                  Worked closely with backend and QA teams to deliver
                  high-quality products.
                </li>
                <li>
                  Managed tasks and codebase using TAPAS,Git, and
                  GitHub.
                </li>
                <li>
                  Contributed to design system using LitElement for consistency
                  and scalability across applications.
                </li>
                <li>
                  Refactored code to enhance maintainability, performance, and
                  scalability.
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-6 col-12">
        <h2 class="mb-4 mobile-mt-2">Education</h2>

        <div class="timeline">
          <div class="timeline-wrapper">
            <div class="timeline-yr">
              <span>2023 - 2024</span>
            </div>
            <div class="timeline-info">
              <h3>
                <span>Frontend Development Cours</span>
              </h3>
              <ul class="custom-bullets">
                <li>
                  Layout: HTML5, CSS3, Flexbox, CSS Grid, responsive design,
                  animations.
                </li>
                <li>Web development frameworks: Bootstrap,Angular Material,Material UI.</li>
                <li>Vanilla JavaScript an ES6 knowledge</li>
                <li>Third party APIs web service.</li>
                <li>Creation of simple SPAs with React.</li>
                <li>Version Control with Git.</li>
                <li>Development tools: Visual Studio Code, Terminal.</li>
                <li>Communication and teamwork tools:GitHub.</li>
              </ul>
            </div>
          </div>

          <div class="timeline-wrapper">
            <div class="timeline-yr">
              <span>2019 - 2023</span>
            </div>
            <div class="timeline-info">
              <h3>
                <span>B.Tech, in Civil Engineering</span><small>Srinivasa Ramanujan Institute of Technology,
                  Ananthapur</small>
              </h3>

              <ul class="custom-bullets">
                <li>Gained foundational knowledge in structural design, surveying, and construction materials during
                  B.Tech in Civil Engineering.</li>
                <li>Developed analytical thinking and problem-solving skills through engineering coursework and field
                  projects.</li>
                <li>Learning Basic front-end development using Angular, HTML5, CSS3, and TypeScript.</li>
                <li>Practicing responsive UI design with Bootstrap and Angular Material components.</li>
              </ul>
            </div>
          </div>

          <div class="timeline-wrapper">
            <div class="timeline-yr">
              <span>2017 - 2019</span>
            </div>
            <div class="timeline-info">
              <h3>
                <span>Intermediate</span><small>Narayana Junior Collage</small>
              </h3>

              <ul class="custom-bullets">

                <li>Built strong fundamentals in mathematics and physics,and problem-solving.</li>
                <li>Developed disciplined study habits and time management through a rigorous academic environment.</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>